.home_crousel {
  // margin-left: 2rem;
  // margin-right: 2rem;
  color: black;
  
}

@media  screen and (max-width: 768px) {
  .home_crousel {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  
}
